{% extends 'base.html' %}

{% block title %}Related Web{% endblock %}

{% block content %}
<body>
    <ul>
        <li style="margin-bottom: 10px;">
            <a href="https://mef.gov.kh/">MEF Cambodia</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="https://customs.gov.kh/">GDCE Cambodia</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="https://apps.customs.gov.kh/login">E-Customs</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="https://www.tax.gov.kh/km">GDT Cambodia</a>
        </li>
    </ul>        
</body>
{% endblock %}