{% extends 'base.html' %}

{% block content %}
<body>
  <h2>Welcome to Our Website</h2>
  
  <p>Prek Chak is an international border checkpoint between Cambodia and Vietnam, located Tkov Village, Ruesei Srok Kanglech Commune, Kampong Trach District, Kampot Province.<br>
    Prek Chak Customs and Excise Office is responsible for processing travelers entering and exiting Cambodia, including collecting customs duties and taxes on imported goods.</p>
  <a href="#" class="button">Learn More</a>

  <section class="about">
    <h3>About Us</h3>
    <p>Preck Chak Customs And Excise Office located in Tkov Village, Reusei Srok Kang Lech Commune, Kampong Trach District, Kampot Province.
      Its main role is collect tax and duties of import and export goods accross the border.
    </p>
  </section>

  <section class="services">
    <h3>Our Services</h3>
    <ul>
      <li>Service 1 Description</li>
      <li>Service 2 Description</li>
      <li>Service 3 Description</li>
    </ul>
  </section>
</body>

{% endblock %}
